@(form: Form[forms.Theme])



@main {
&gt;<a href="@routes.Themes.index(Long.valueOf(form.field("forum_id").value()))">@form.field("forum_name").value()</a>
} {
	@helper.form(action=routes.Themes.insertValidate(), 'class -> "form") {
        @helper.input(form("id")) { (id, name, value, args) =>
            <input type="hidden" name="@name" id="@id" @toHtmlArgs(args)>
        }
		@helper.input(form("forum_id")) { (id, name, value, args) =>
            <input type="hidden" name="@name" id="@id" @toHtmlArgs(args)>
        }
		@helper.input(form("forum_ name")) { (id, name, value, args) =>
        <input type="hidden" name="@name" id="@id" @toHtmlArgs(args)>
		}
		@helper.inputText(form("name"))
        <input type="submit" value="Submit"/>
	}
}